//Alle har været inde over koden på denne side
// Alt der gælder for mobil og højere

* { // Gælder alt på hele siden
  -webkit-box-sizing: border-box; // -webkit- browserunderstøttelse
  box-sizing: border-box; // Bokse har altid den størrelse man giver uanset om der tilføjes margen mv.
}

body {
  margin: 0; // Ingen kanter i siden af browser
  background-color: #f4eade;
  color: #4b2d1b;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0; // Ingen ydre margen fra overskrifter
  padding: 0; // Ingen indre margen fra overskrifter
}

ul, ol {
  margin: 0; // Ingen ydre margen fra lister
  padding: 0; // Ingen indre margen fra lister
  list-style-position: inside; // List punkter står på linje
}

li {
  margin: 0; // Ingen ydre margen fra listpunkter
}

p {
  margin: 0; // Ingen ydre margen fra paragraffer
  padding: 0; // Ingen indre margen fra paragraffer
}

// Sikrer billeder er responsive
img {
  display: block; // Billeder er et element (laver linjeskift)
  max-width: 100%; // Bredde må maks fylde 100%
  height: auto; // Højden skal tilpasse sig
}

@mixin gold {
  background: -webkit-linear-gradient(#dcc17a, #a18348, #e4c981, #9d7f3f);
  background: linear-gradient(#dcc17a, #a18348, #e4c981, #9d7f3f);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

#error{
  margin: 10px 10px;
  padding: 10px 0;
}

#animation{
  width: 70%;
  margin: 0 10px 0 auto;
}


#fejl{
  display: -webkit-flex;
  display: flex;
  justify-content: center;
  font-size: 38px;
  margin: -100px 150px 70px auto;
}

#sorry{
  font-size: 20px;
  margin-bottom: 10px;
  margin-left: 20px;
}

.content{
  font-size: 14px;
  margin: 0 auto 0 20px;
  width: 90%;
  text-align: start;
  line-height: 18px;
  font-family: "Shree Devanagari 714", serif;
  a{
    color: #878532;
    text-decoration: none;
  }
}


#break{
  width: 70%;
  margin: 40px auto;
}

#boks{
  background-color: #fff5ed;
  width: 90%;
  height: 100px;
  padding: 20px 0 10px 10px;
  margin: 0 auto;
}


#help{
  font-weight: 500;
  text-align: center;
  width: 100px;
  margin: 0 auto 5px auto;
}

#help_write{
  width: 70%;
  height: 30px;
  margin-left: 15px;
}

.mobilknap{
  background-color: #878532;
  height: 30.5px;
  border: none;
  a:link {
    color: #fff5ed;
    text-decoration: none;
  }
  a:visited {
    color: #4b2d1b;
  }
  a:hover{
    @include gold;
    cursor: pointer;
  }
}

@media screen and (min-width: 768px) {
  // Alt der ændres i tablet stående fra mobil
  #animation{
    width: 60%;
    margin: 0 80px 0 auto;
    transform: rotate(350deg);
  }

  #fejl{
    margin: -140px 450px 70px auto;
  }

  .content, #sorry{
    margin-left: 80px;
  }

  #sorry{
    margin-top: -30px;
  }

  #break{
    width: 50%;
  }

  #help_write{
  margin-left: 60px;
  }
}

@media screen and (min-width: 1200px) {
  // Alt der ændres i computer fra mobil, tablet stående og tablet liggende
  #animation{
    width: 40%;
    margin: 100px 80px 0 auto;
    transform: rotate(350deg);
  }

  #fejl{
    margin: -200px 500px 70px auto;
    font-size: 50pt;
  }

  .content, #sorry{
    margin-left: 80px;
  }

  #sorry{
    margin-top: -30px;
    font-size: 25pt;
  }

  .content{
    font-size: 16pt;
  }

  #break{
    width: 30%;
  }

  #boks{
    padding: 20px 0;
    height: 120px;
  }

  #help{
    font-size: 18pt;
    width: 200px;
  }

  #help_write{
    margin-left: 80px;
    height: 40px;
    font-size: 15pt;
  }

  .mobilknap{
    height: 40px;
    width: 150px;
    font-size: 15pt;
    padding: 0 5px;
  }



}
