// Alt der gælder for mobil og højere

* { // Gælder alt på hele siden
  -webkit-box-sizing: border-box; // -webkit- browserunderstøttelse
  box-sizing: border-box; // Bokse har altid den størrelse man giver uanset om der tilføjes margen mv.
}

body {
  margin: 0;// Ingen kanter i siden af browser
  background-color: #f4eade;
}

.menubar, .cta {
  display: none;
}


.mobilcta {
  color: #4b2d1b;
  font-family: "Shree Devanagari 714", serif;
  font-size: large;
  font-weight: bolder;
  text-align: center;
  margin: 30px;
  line-height: 22px;
}

.mobilcta2 {
  color: #878532;
  font-family: Bagatela, serif;
  font-size: xx-large;
  text-align: center;
}

a:link {
  color: #878532;
  text-decoration-line: none;
}

a:visited {
  color: #878532;
}

a:hover {
  color: gold;
}

.menubar {
  display: none;
}


//BILLEDER/TEKST KASSER 
.billedebokse {
  display: grid;
  grid-template-columns: (3, 1fr);
  grid-template-rows: (1, 1fr);
  justify-content: space-between;
  grid-gap: 100px;
  padding-left: 95px;
  margin-top: 25px;
  position: relative;
  z-index: 0;
}

.item2:nth-of-type(1) {
  grid-column: 1 / span 1;
  grid-row: 1 / span 1;
}

 .item2:nth-of-type(2) {
   grid-column: 1 / span 1;
   grid-row: 2 / span 1;
 }

 .item2:nth-of-type(3) {
   grid-column: 1 / span 1;
   grid-row: 3 / span 1;
 }


 //3 billedetekst foran billederne

.billedforan {
  display: grid;
  grid-template-columns: (3, 1fr);
  grid-template-rows: (7, 1fr);
  grid-gap: 70px;
  justify-content: space-between;
  font-family: Bagatela, serif;
  font-size: larger;
  position: absolute;
  z-index: 1;
  margin-top: -860px;
  padding-left: 24%;
}

.boks1 {
  grid-column: 1 / span 1;
  grid-row: 2 / span 1;
  border: 2px solid gold;
  height: 172px;
  width: 290px;
  background-color: #fff5ed;
}

.tekst1, .tekst2, .tekst3 {
  font-family: "Shree Devanagari 714", serif;
  font-size: large;
}

.boks2 {                                 
  grid-column: 1 / span 1;
  grid-row: 4 / span 1;
  border: 2px solid gold;
  height: 172px;
  width: 290px;
  background-color: #fff5ed;
}

.boks3 {
  grid-column: 1 / span 1;
  grid-row: 7 / span 1;
  border: 2px solid gold;
  height: 172px;
  width: 290px;
  background-color: #fff5ed;
}

.item3:nth-of-type(1) {
  grid-column: 1 / span 1;
  grid-row: 1 / span 1;
  border: 2px solid gold;
  height: 148px;
  width: 264px;
  padding: 10px;
  margin: 10px auto auto auto;
  text-align: center;

}

.item3:nth-of-type(2) {
  grid-column: 1 / span 1;
  grid-row: 2 / span 1;
  border: 2px solid gold;
  height: 148px;
  width: 264px;
  padding: 10px;
  margin: 10px auto auto auto;
  text-align: center;
}

.item3:nth-of-type(3) {
  grid-column: 1 / span 1;
  grid-row: 3 / span 1;
  border: 2px solid gold;
  height: 148px;
  width: 264px;
  padding: 10px;
  margin: 10px auto auto auto;
  text-align: center;
}


.baggrundsbillede{
  width: 100%;
  height: 450px;
  background-image: url("../Image/mobil_baggrund.jpg");
  background-size: cover;
  padding-bottom: 20px;
}

.header{
  width: 100%;
  height: 450px;
  background-color: rgba(75, 45, 27, 0.7);
}

.fa-bars{
  color: gold;
  font-size: 40pt;
  margin-left: 85%;
  margin-top: 40px;
}

.logomobil{
  margin: -30px auto 40px auto;
  padding-bottom: 40px;
}

//mellemstreg

.streg {
  width: 453px;
  margin-top: 100px;
  padding-left: 100px;
}

//vinudvalg alle 3

.vinelementer {
  display: grid;
  grid-template-columns: (1, 1fr);
  grid-template-rows: (3, 1fr);
  grid-gap: 5px;
  justify-content: space-between;
  z-index: 1;
  position: absolute;
  margin-top: -4px;
  margin-right: 200px;
}

.item4:nth-of-type(1) {
  grid-column: 1 / span 1;
  grid-row: 1 / span 1;
}

.item4:nth-of-type(2) {
  grid-column: 1 / span 1;
  grid-row: 2 / span 1;
}

.item4:nth-of-type(3) {
  grid-column: 1 / span 1;
  grid-row: 3 / span 1;
}

.vintekst {
  display: grid;
  grid-template-columns: (1, 1fr);
  grid-template-rows: (3, 1fr);
  grid-gap: 170px 170px;
  justify-content: space-between;
  z-index: 0;
  padding-left: 150px;
}

.item5:nth-of-type(1) {
  grid-column: 1 / span 1;
  grid-row: 1 / span 1;
}

.item5:nth-of-type(2) {
  grid-column: 1 / span 1;    
  grid-row: 2 / span 1;
}

.item5:nth-of-type(3) {
  grid-column: 1 / span 1;
  grid-row: 3 / span 1;
}


//Den første boks for rødvin
.boksvin {
  grid-column: 1 / span 1;
  grid-row: 1 / span 1;
  border: 2px solid gold;
  position: relative;
  z-index: 0;
  height: 210px;
  width: 330px;
  background-color: #fff5ed;
  text-align: center;
  padding-top: 30px;
  padding-left: 70px;
  font-family: "Shree Devanagari 714", serif;
  color: #4b2d1b;
  font-size: small;
  margin-left: -40px;
  margin-top: 60px;
  line-height: 22px;
  
}

.rødvintekst, .hvidvintekst, .rosevintekst {
  font-family: Bagatela, serif;
  font-size: xx-large;
  color: #4b2d1b;
}

.seudvalg {
  font-family: Bagatela, serif;
  font-size: x-large;
  color: #878532;
}

//Anden boks for hvidvin

.boksvin2 {
  grid-column: 1 / span 1;
  grid-row: 2 / span 1;
  border: 2px solid gold;
  position: relative;
  z-index: 0;
  height: 210px;
  width: 330px;
  background-color: #fff5ed;
  text-align: center;
  padding-top: 30px;
  padding-left: 70px;
  font-family: "Shree Devanagari 714", serif;
  color: #4b2d1b;
  font-size: small;
  margin-left: -40px;
  margin-top: 5px;
  line-height: 22px;
}


//Tredje boks for rosevin

.boksvin3 {
  grid-column: 1 / span 1;
  grid-row: 3 / span 1;
  border: 2px solid gold;
  position: relative;
  z-index: 0;
  height: 210px;
  width: 330px;
  background-color: #fff5ed;
  text-align: center;
  padding-top: 30px;
  padding-left: 70px;
  font-family: "Shree Devanagari 714", serif;
  color: #4b2d1b;
  font-size: small;
  margin-top: -20px;
  margin-left: -40px;
  line-height: 22px;
}


//3 TEKSTBOKSE MED TEKST

.besøgos {
  display: grid;
  grid-template-columns: (1, 1fr);
  grid-template-rows: (3, 1fr);
  grid-gap: 20px;
}

.item6:nth-of-type(1) {
  grid-column: 1 / span 1;
  grid-row: 1 / span 1;
  border: solid thin black;
  width: 562px;
  height: 350px;
  background-color: #fff5ed;
  padding-top: 40px;
  margin-top: 70px;
  font-size: xx-large;
  font-family: Bagatela, serif;
  text-align: center;
}

.undertekst1 {
  font-size: x-large;
  font-family: "Shree Devanagari 714", serif;
  line-height: 30px;
  color: #4b2d1b;
}


.boks01 {
  border: thin solid black;
  width: 220px;
  height: 50px;
  margin-left: 170px;
  background-color: #f4eade;
  color: #878532;
  font-family:Bagatela, serif;
  padding-top: 7px;
}


.item6:nth-of-type(2) {
  grid-column: 1 / span 1;   
  grid-row: 2 / span 1;
  border: solid thin black;     
  width: 562px;
  height: 350px;                
  background-color: #fff5ed;                
  padding-top: 40px;            
  font-size: xx-large;          
  font-family: Bagatela, serif; 
  text-align: center;
}

.textInput {
  margin-top: 15px;
  font-size: large;
  font-family: "Shree Devanagari 714", serif;
  border: solid thin black;
  height: 40px;
  width: 220px;
  padding-left: 10px;
}


.boks02b {
  border: thin solid black;   
  width: 220px;               
  height: 50px;               
  margin-left: 170px;         
  background-color: #f4eade;  
  color: #878532;             
  font-family:Bagatela, serif;
  padding-top: 7px;
  margin-top: 8px;
}


.undertekst2 {
  font-size: x-large;                         
  font-family: "Shree Devanagari 714", serif; 
  line-height: 30px;                          
  color: #4b2d1b;                             
}


.item6:nth-of-type(3) {
  grid-column: 1 / span 1;   
  grid-row: 3 / span 1;
  border: solid thin black;     
  width: 562px;
  height: 350px;                
  background-color: #fff5ed;                
  padding-top: 40px;            
  font-size: xx-large;          
  font-family: Bagatela, serif; 
  text-align: center;           
}

.undertekst3 {
  font-size: x-large;
  font-family: "Shree Devanagari 714", serif;
  line-height: 30px;
  color: #4b2d1b;
}

.boks03b {
  border: thin solid black;
  width: 220px;
  height: 50px;
  margin-left: 170px;
  background-color: #f4eade;
  color: #878532;
  font-family:Bagatela, serif;
  padding-top: 7px;
  margin-top: 8px;
}






















//DE 3 BOKSE INDEN I TEKSTBOKSEN (KLIKBARE)








h1, h2, h3, h4, h5, h6 {
  margin: 0; // Ingen ydre margen fra overskrifter
  padding: 0; // Ingen indre margen fra overskrifter
}

ul, ol {
  margin: 0; // Ingen ydre margen fra lister
  padding: 0; // Ingen indre margen fra lister
  list-style-position: inside; // List punkter står på linje
}

li {
  margin: 0; // Ingen ydre margen fra listpunkter
}

p {
  margin: 0; // Ingen ydre margen fra paragraffer
  padding: 0; // Ingen indre margen fra paragraffer
}

// Sikrer billeder er responsive
img {
  display: block; // Billeder er et element (laver linjeskift)
  max-width: 100%; // Bredde må maks fylde 100%
  height: auto; // Højden skal tilpasse sig
}

@media screen and (min-width: 768px) {
  
  // Alt der ændres i tablet stående fra mobil
}

@media screen and (min-width: 992px) {
  // Alt der ændres i tablet liggende fra mobil og tablet stående
}

@media screen and (min-width: 1200px) {

.baggrundsbillede {
  display: none;
  
}

.baggrund {                                                             
  background-size: 100%;                                                
  width: 100%;                                                          
  height: 100%;                                                         
  position: fixed;                                                      
}                                                                       
                                                                        
.logo {                                                                 
  width: 53.66%;                                                        
  height: 53.56%;                                                       
}                                                                       
                                                                        
// MENUBAREN GRID //                                                    
                                                                        
.menubar {                                                              
  display: grid;                                                        
  grid-template-columns: repeat(6, 1fr);                                
  grid-template-rows: repeat(1, 1fr);                                   
  grid-gap: 10px 10px;                                                  
  justify-content: space-between;                                       
  font-family: Bagatela, serif;                                         
  color: darkgoldenrod;                                                 
  font-size: large;                                                     
  font-weight: bolder;                                                  
}                                                                       
                                                                        
a:link {                                                                
  color: gold;                                                          
  text-decoration-line: none;                                           
}                                                                       
                                                                        
a:visited {                                                             
  color: gold;                                                          
}                                                                       
a:hover {                                                               
  color: #878532;                                                       
  text-decoration-line: underline;                                      
}                                                                       
                                                                        
.item1:nth-of-type(1) {                                                 
  grid-column: 1 / span 1;                                              
  grid-row: 1 / span 1;                                                 
}                                                                       
                                                                        
.item1:nth-of-type(2) {                                                 
  grid-column: 2 / span 1;                                              
  grid-row: 1 / span 1;                                                 
}                                                                       
                                                                        
.item1:nth-of-type(3) {                                                 
  grid-column: 3 / span 1;                                              
  grid-row: 1 / span 1;                                                 
}                                                                       
                                                                        
.item1:nth-of-type(4){                                                  
  grid-column: 4 / span 1;                                              
  grid-row: 1 / span 1;                                                 
}                                                                       
                                                                        
.item1:nth-of-type(5) {                                                 
  grid-column: 5 / span 1;                                              
  grid-row: 1 / span 1;                                                 
}                                                                       
                                                                        
.item1:nth-of-type(6) {                                                 
  grid-column: 6 / span 1;                                              
  grid-row: 1 / span 1;                                                 
}                                                                       
                                                                                                                                                
                                                                        
//De 3 billeder                                                         
                                                                        
.billedebokse {                                                         
  display: grid;                                                        
  grid-template-columns: (3, 1fr);                                      
  grid-template-rows: (1, 1fr);                                         
  justify-content: space-between;                                       
  grid-gap: -10px;                                                      
  margin: 60px;                                                         
  position: relative;                                                   
  z-index: 0;                                                           
}                                                                       
                                                                        
.item2:nth-of-type(1) {                                                 
  grid-column: 1 / span 1;                                              
  grid-row: 1 / span 1;                                                 
}                                                                       
                                                                        
 .item2:nth-of-type(2) {                                                
   grid-column: 2 / span 1;                                             
   grid-row: 1 / span 1;                                                
 }                                                                      
                                                                        
 .item2:nth-of-type(3) {                                                
   grid-column: 3 / span 1;                                             
   grid-row: 1 / span 1;                                                
 }                                                                      
                                                                        
                                                                        
 //3 billedetekst foran billederne                                      
                                                                        
.billedforan {                                                          
  display: grid;                                                        
  grid-template-columns: (3, 1fr);                                      
  grid-template-rows: (1, 1fr);                                         
  grid-gap: 170px 170px;                                                
  justify-content: space-between;                                       
  font-family: Bagatela, serif;                                         
  font-size: larger;                                                    
  position: absolute;                                                   
  z-index: 1;                                                           
  padding-left: 6%;                                                     
  margin-top: -130px;                                                   
}                                                                       
                                                                        
.boks1 {                                                                
  grid-column: 1 / span 1;                                              
  grid-row: 1 / span 1;                                                 
  border: 2px solid gold;                                               
  height: 172px;                                                        
  width: 290px;                                                         
  background-color: #fff5ed;                                            
}                                                                       
                                                                        
.tekst1, .tekst2, .tekst3 {                                             
  font-family: "Shree Devanagari 714", serif;                           
  font-size: large;                                                     
}                                                                       
                                                                        
.boks2 {                                                                
  grid-column: 2 / span 1;                                              
  grid-row: 1 / span 1;                                                 
  border: 2px solid gold;                                               
  height: 172px;                                                        
  width: 290px;                                                         
  background-color: #fff5ed;                                            
  margin-left: 8%;                                                      
}                                                                       
                                                                        
.boks3 {                                                                
  grid-column: 3 / span 1;                                              
  grid-row: 1 / span 1;                                                 
  border: 2px solid gold;                                               
  height: 172px;                                                        
  width: 290px;                                                         
  background-color: #fff5ed;                                            
  margin-left: 7%;                                                      
}                                                                       
                                                                        
.item3:nth-of-type(1) {                                                 
  grid-column: 1 / span 1;                                              
  grid-row: 1 / span 1;                                                 
  border: 2px solid gold;                                               
  height: 148px;                                                        
  width: 264px;                                                         
  padding: 10px;                                                        
  margin: 10px auto auto auto;                                          
  text-align: center;                                                   
                                                                        
}                                                                       
                                                                        
.item3:nth-of-type(2) {                                                 
  grid-column: 2 / span 1;                                              
  grid-row: 1 / span 1;                                                 
  border: 2px solid gold;                                               
  height: 148px;                                                        
  width: 264px;                                                         
  padding: 10px;                                                        
  margin: 10px auto auto auto;                                          
  text-align: center;                                                   
}                                                                       
                                                                        
.item3:nth-of-type(3) {                                                 
  grid-column: 3 / span 1;                                              
  grid-row: 1 / span 1;                                                 
  border: 2px solid gold;                                               
  height: 148px;                                                        
  width: 264px;                                                         
  padding: 10px;                                                        
  margin: 10px auto auto auto;                                          
  text-align: center;                                                   
}                                                                       
                                                                   
  // Alt der ændres i computer fra mobil, tablet stående og tablet liggende
}

@media print {
  // Alt der gælder for print specifikt
}